.App {
    background-color: #e1dff5;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
li {
    text-align: left;
    margin: 5px 0;
    font-size: 18px;
}